---
import Page from '../layouts/page.astro';
import BackLink from '../components/link-back.astro';
---

<Page title="Page not found">
  <main class="mx-auto max-w-[65ch] px-7 py-10 mb-8">
    <header class="mb-3">
      <h1>Page not found</h1>
      <BackLink href="/blog" text="Back to blog" />
    </header>
  </main>
</Page>
