---
import * as CONF from '../consts';
import Page from '../layouts/page.astro';
---

<Page>
  <main class="mx-auto max-w-[65ch] px-7 py-10 mb-8">
    <header class="my-8">
      <h1>{CONF.AUTHOR}</h1>
    </header>

    <article class="text-slate-600">currently building ..</article>
  </main>
</Page>
