---
import * as CONF from '../consts';

import '../styles/reset.css';
import '../styles/global.css';

import Document, { type Props as DocumentProps } from './document.astro';

export interface Props {
  index?: boolean;
  title?: string;
  description?: string;
  image?: string;
}

const { title, index, image } = Astro.props;

const meta = {
  title: title || CONF.SITE_TITLE,
  siteName: index ? undefined : CONF.SITE_NAME,
  description: CONF.SITE_DESCRIPTION,
  author: CONF.AUTHOR,
  social: { tw: CONF.TW, gh: CONF.GH },
} satisfies DocumentProps;
---

<Document {...meta} image={image}>
  <slot />

  <footer class="container mx-auto text-center text-sm">
    <p>
      2019-present ©
      {CONF.AUTHOR} ⫶
      <a title="Go to the site homepage" href="/">home</a> ⫶ <a href="/blog">blog</a> ⫶ <a href="/bookmarks"
        >bookmarks</a
      >
    </p>
  </footer>
</Document>
